<!-- Introduction -->
    <section class="intro" id="home">
        <h1 class="section__title section__title--intro">
            Hi, I am <strong>Chikara Miki</strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro">Engineer</p>
        <%= image_tag("Chikara_full_face.jpg", :alt => "a picture of Chikara Miki", class: "intro__img" ) %>
    </section>

    <!-- About me -->
    <section class="about-me" id="about">
        <h2 class="section__title section__title--about">Who I am</h2>
        <p class="section__subtitle section__subtitle--about">BEng Aerospace Engineering Student</p>

        <div class="about-me__body">
            <p>Hello, my name is Chikara. I am a first year Aerospace engineering student at the University of Sheffield. Developing coding skill over student years to secure a job in the engineering field.</p>
            <p>I began my coding journey in January 2022, and have been learning several langueages to explore the coding world.</p>
            <p>In my free time, I enjoy playing PC games, hanging out with my friends, and coding.</p>
        </div>

        <%= image_tag("full_body_of_chikara.jpg", :alt => "A full picture of Chikara Miki", class: "about-me__img" ) %>
    </section>

    <!-- My projects -->
    <section class="my-projects" id="projects">
        <h2 class="section__title section__title--projects">My projects</h2>
        <div class="projects">
            <div class="project">
                <h3>Name</h3>
                <p>subtitle</p>
            </div> <!-- / project -->

            <div class="project">
                <h3>name</h3>
                <p>subtitle</p>
            </div> <!-- / project -->
            
            <div class="project">
                <h3>name</h3>
                <p>subtitle</p>
            </div> <!-- / project -->

        </div> <!-- / My projects -->

        <%= link_to 'My Work', home_projects_path, class: "btn" %>
    </section>

    <!-- My Blog -->
    <section class="my-blog" id="blog">
        <h2 class="section__title section__title--blog">My Blog</h2>
        <p class="section__subtitle section__subtitle--blog">Check this out</p>

        <div class="blog">

        <%= link_to 'Click this', posts_path, class: "btn" %>
    </section>
</body>